{% extends "base.html" %}
{% block content %}

      <h1>My Blog</h1>

      <form method="post">
        <label>
            <div>title</div>
            <input type="text" name="title" value="{{title}}"">
        </label>

        <label>
            <div>Blog</div>
            <textarea name="blog">{{blog}}</textarea>
          </label>

          <div class="error">{{error}}</div>

          <input type="submit">

      </form>

      <hr>

      {% for blog in blogs %}
        <div class="blog">
          <div class="blog-title"><a href='/blog/{{blog.key().id()}}'>{{blog.title}}</a></div>
          <pre class="blog-body">{{blog.blog}}</pre>

        </div>
      {% endfor %}
{% endblock %}
